.navigation-card-swiper{
  .swiper-slide{
    height: auto;
  }
  .swiper-slide-active{
    background-color: $clr-2l;
    border: 1px solid $clr-1n;
  }
}

.dots-path{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .path-dot, .path-dot-active{
    width: 30px;
    height: 30px;
    border-radius: 50em;
    border: 5px solid $clr-2n;
  }
  .path-dot{
    background-color: white;
  }
  .path-dot-active{
    background-color: $clr-2n;
    outline: 5px solid $clr-1n;
  }

}
