.cards-illustration{
  position: relative;
  height: 400px;
  width: 500px;

  > div, img{
    position: absolute;
  }

  img{
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
  }

  > div {
    width: 225px;
    z-index: 1;
  }

  > div:nth-of-type(1){
    left: 20px;
  }

  > div:nth-of-type(2){
    right: 0;
    top: 50;
  }

  > div:nth-of-type(3){
    top: 120;
  }

  img:first-of-type{
    top: 0;
  }

  img:last-of-type{
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
    z-index: 1;
  }

  @media(max-width: 1000px){
    scale: 90%;
  }
  @media(max-width: 800px){
    scale: 80%;
  }
  @media(max-width: 500px){
    scale: 70%;
  }
}
