@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  &:before, &:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 50px;
    z-index: 1;
  }
  &:after{
    background: linear-gradient(to left, rgba(240, 240, 240, 0), rgba(240, 240, 240, 1));
    left: 0;
  }
  &:before{
    background: linear-gradient(to right, rgba(240, 240, 240, 0), rgba(240, 240, 240, 1));
    right: 0
  }
}

.logos-slide {
  display: inline-block;
  animation: 10s slide infinite linear;
}
