.flex{
  display: flex;
}

.jc-between{
  justify-content: space-between;
}

.jc-center{
  justify-content: center;
}

.jc-end{
  justify-content: end
}

.flex-middle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai-center{
  align-items: center;
}

.ai-top{
  align-items: start;
}

.dir-col{
  flex-direction: column;
}

.block{
  display: block;
}

.flex-0{
  flex-shrink: 0;
  flex-grow: 0;
}

.ac-center{
  align-content: center;
}

.flex-wrap{
  flex-wrap: wrap;
}
