$clr-1n: #531cb3;
$clr-1d: #3e1584;

$clr-2n: #d2c3ef;
$clr-2l: #f5f1fb;
$clr-2d: #d2c3ef;

$clr-3n: #81D2C7;
$clr-4n: #FFC83D;
$clr-5n: #FB4D3D;

$clr-6n: rgb(220, 220, 220);
$clr-6l: rgb(240, 240, 240);
$clr-6d: rgb(150, 150, 150);

$colors: (
  "1n": $clr-1n,
  "1d": $clr-1d,
  "2n": $clr-2n,
  "2l": $clr-2l,
  "2d": $clr-2d,
  "3n": $clr-3n,
  "4n": $clr-4n,
  "5n": $clr-5n,
  "6n": $clr-6n,
  "6l": $clr-6l,
  "6d": $clr-6d,
  "white": white,
  "black": black
);

@each $id, $hex in $colors {
  .fc-#{$id}{
    color: #{$hex};
  }
  .fc-to-#{$id}{
    &:hover{
      color: #{$hex};
    }
  }
  .bg-#{$id}{
    background-color: #{$hex};
  }
  .bg-to-#{$id}{
    &:hover{
      background-color: #{$hex};
    }
  }
}
